@import "@fontsource/poppins/400.css";
/* Regular */
@import "@fontsource/poppins/700.css";
/* Bold */

Global CSS :root {
  /* Color Variables */
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --text-color: #333;

  /* Font Variables */
  --font-family: 'Poppins', sans-serif;
}

/* Typography */
body {
  font-family: var(--font-family);
  color: var(--text-color);
  font-size: 16px;
  line-height: 1.5;
}

/* Links */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Lists */
ul,
ol {
  list-style: none;
}

/* Paragraphs */
p {
  margin-bottom: 1em;
}

