body {
  scroll-behavior: smooth;
}
.hero {
  background: url("../assets/images/hero-bg2.jpeg") no-repeat center center;
  background-size: cover;
  color: white;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  max-height: 500px;
  z-index: -1;
  margin-bottom: -5px;
  mask-image: linear-gradient(to bottom, rgb(0, 86, 245), rgba(32, 91, 241, 0));
}

.bg-opacity {
  background-color: rgba(4, 115, 234, 0.7);
  padding: 20px;
  border-radius: 5px;
}

.main-footer {
  padding: 70px 0;
  display: flex;
  justify-content: space-evenly;
  background-color: #0d6efd;
}

.main-footer ul {
  list-style: none;
}

.main-footer h1 {
  font-size: 22px;
  line-height: 117%;
  color: #ffffff;
  margin-bottom: 10px;
  font-weight: 500;
}

.main-footer h2 {
  color: #ffffff;
  font-weight: 500;
}

.main-footer ul li a {
  color: #ffffffcc;
  text-decoration: none;
}

footer {
  background-color: #0d6efd;
  border-top: 1px solid #f1f6f2;
  font-size: 17px;
  padding: 15px 5px;
  color: #ffffff;
  text-align: center;
}

footer a {
  text-decoration: none;
  color: #ffffff;
}

.logoinfo p {
  color: #eeebf3;
  font-size: 17px;
  margin-top: 5px;
}

.contact-details {
  margin-top: 20px;
}

.contact-details li {
  list-style: none;
  margin: 10px 0;
}

.contact-details li a {
  text-decoration: none;
  color: #f1f1f1;
}

.contact-details .fa {
  color: #f1f1f1;
  margin-right: 10px;
}

.sociallogos {
  padding: 20px 0;
}

.sociallogos .logobox a {
  padding: 0 10px;
  text-decoration: none;
  color: #ffffff;
  font-size: 22px;
}

.com ul li {
  padding: 5px 0;
}

@media only screen and (max-width: 749px) {
  .main-footer {
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .info {
    padding: 20px 0;
  }
}

@media (max-width: 480px) {
  .main-footer {
    grid-template-columns: 1fr;
  }

  .sociallogos {
    padding: 20px 0;
  }

  .com {
    padding: 20px 0;
  }
  }
